/kafka-logs/*
/kafka1-logs/*
/kafka2-logs/*
/kafka3-logs/*
/zoo-data/*
kafka_2.11-1.1.0/*
.DS_Store

!kafka-logs/.gitkeep 
!kafka1-logs/.gitkeep 
!kafka2-logs/.gitkeep 
!kafka3-logs/.gitkeep 
!zoo-data/.gitkeep 


